<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f = "http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>

            <div  class="centerDiv" style="width: 400px">
                <p:panel>
                    <f:facet name="header">Login</f:facet>
                    <h:panelGrid columns="2">
                        Login:
                        <h:inputText id="txLogin" value="#{login.user}" required="true" label="login"/>
                        Senha:
                        <h:inputSecret id="txSenha" value="#{login.pwd}" required="true" label="Senha" />

                    </h:panelGrid>
                    <p:commandButton value="Login" action="#{login.autenticate()}" />
                </p:panel>
            </div>
        </h:form>
    </h:body>

</html>

